{% extends 'base.html' %}
{% load bootstrap_tags %}
{% block content%}
<div class="overlay-black"></div>
<div class="container margin-top-100 center ">
    <h1>{{items.name}}</h1>

    <p class='inline views'>Views: {{items.views}}</p>
    <p class='inline upvotes'>Upvotes: {{items.upvotes}}</p>
    <p>Status: {{items.status}}</p>
    <div class='center comments'>
        <div class="ticket-description inline">
            <div>
                <img class='comment-profile-pic' src="{{MEDIA_URL}}{{items.picture}}" onerror="src='{{MEDIA_URL}}images/missing-profile-pic.png'"
                    alt="profile pic">

            </div>
            <div>
                <p class="creator-and-date inline"><b>{{items.username}}</b> {{items.created_date}}</p>
                <p class='description'>{{items.description}}</p>

            </div>
        </div>
    </div>


    <div class="comments ">
        <div>
            <form method='post' class="center" action="{% url 'add_comment_bugs' items.id %}">
                {% csrf_token %}
                {{ comment_form | as_bootstrap }}
                <button class='btn btn-primary inline' type='submit'>Post</button>
            </form>
        </div>

        {% for comment in comments %}
        <div class="user-comment inline">
            <div>
                <img class='comment-profile-pic' src="{{MEDIA_URL}}{{comment.picture}}" onerror="src='{{MEDIA_URL}}images/missing-profile-pic.png'"
                    alt="profile pic">

            </div>
            <div>
                <p class="creator-and-date inline"><b>{{comment.username}}</b> {{comment.created_date}}</p>
                <p class='description'>{{comment.comment}}</p>

            </div>
        </div>
        {% endfor %}


    </div>


</div>
</div>
{% endblock %}