{% extends 'base.html' %}
{% include 'footer.html' %}
{% block messages %}
<div class="messages-status-success center">

    {% if messages %}
    {% for message in messages %}
    <p class='center'>{{ message }}</p>
    {% endfor %}
    {% endif %}
</div>
{% endblock %}

{% block content %}

<div class="wrapper">
    <div class="inner1">

        <div></div>
        <div>
            <h1 class=center>Unicorn Attractor</h1>
            <div class="line"></div>
        </div>

        <div></div>



    </div>

    <div class="inner2 ">

        <div class="d-none sm-block"></div>

        <div></div>

        <div>
            <h1>Features</h2>
                <div class="line"></div>
        </div>
        <div class="d-block sm-none"></div>


    </div>
</div>
{% include 'footer.html' %}
{% endblock %}