{% extends 'base.html' %}
{% load bootstrap_tags %}
{% block content%}
<div class="overlay-black"></div>
<div class="container margin-top-100 center ">
    <h1>{{items.name}}</h1>
    {% if user.username == 'admin' %}
    <button class='btn btn-primary'>Edit</button>
    {% endif %}
    {% if user.is_authenticated %}

    {% if items.name not in upvote_list %}
    <form method="post" action="{% url 'add_to_cart' items.id %}">
        {% csrf_token %}
        <input type="hidden" name="quantity" value="1">
        <button type='submit' class='btn btn-primary'>Upvote</button>
    </form>
    {% else %}
    <button class='btn'>Upvoted</button>
    {% endif %}
    <br>
    {% endif %}
    <p class='inline views'><b>Views:</b> {{items.views}}</p>
    <p class='inline upvotes'><b>Upvotes:</b> {{items.upvotes}}</p>
    <br>
    <p class=' inline'><b>Status:</b></p>
    {% if items.status == 'To Do' %}
    <p class='inline status-todo'>{{ items.status }}</p>
    {% elif items.status == 'Doing' %}
    <p class='inline status-doing'>{{ items.status }}</p>
    {% elif items.status == 'Done' %}
    <p class='inline status-done'>{{ items.status }}</p>
    {% endif %}
    <div class='center comments'>
        <div class="ticket-description inline">
            <div>
                <img class='comment-profile-pic' src="{{MEDIA_URL}}{{items.picture}}" onerror="src='{{MEDIA_URL}}images/missing-profile-pic.png'"
                    alt="profile pic">

            </div>
            <div>
                <p class="creator-and-date inline"><b>{{items.username}}</b> {{items.created_date}}</p>
                <p class='description'>{{items.description}}</p>

            </div>
        </div>
    </div>


    <div class="comments ">
        <div>
            <form method='post' class="center" action="{% url 'add_comment_features' items.id %}">
                {% csrf_token %}
                {{ comment_form | as_bootstrap }}
                <button class='btn btn-primary inline' type='submit'>Post</button>
            </form>
        </div>

        {% for comment in comments %}
        <div class="user-comment inline">
            <div>
                <img class='comment-profile-pic' src="{{MEDIA_URL}}{{comment.picture}}" onerror="src='{{MEDIA_URL}}images/missing-profile-pic.png'"
                    alt="profile pic">

            </div>
            <div>
                <p class="creator-and-date inline"><b>{{comment.username}}</b> {{comment.created_date}}</p>
                <p class='description'>{{comment.comment}}</p>

            </div>
        </div>
        {% endfor %}


    </div>


</div>
</div>
{% endblock %}