{% extends 'base.html' %}
{% load bootstrap_tags %}
{% block content%}
<div class="container center ">
    <div class='inline pos-r'>

        <h1 class='text-shadow'>{{items.name}}</h1>
        <div class="line "></div>
        {% if user.username == 'admin' or user.username == items.username|slugify %}
        <a href="{% url 'edit_feature' items.id %}" class='btn btn-primary'> Edit <i class="fa fa-pencil-square-o"
                aria-hidden="true"></i></a>
        {% endif %}

        {% if user.is_authenticated %}
        {% if items.id|slugify not in upvote_list %}
        <form class='inline' method="post" action="{% url 'add_to_cart' items.id %}">
            {% csrf_token %}
            <input type="hidden" name="quantity" value="1">

            {% if upvoted %}
            <div id="repeated-upvote-btn" class='btn btn-primary'>Upvote <i class="fa fa-star" aria-hidden="true"></i></div>
            <div class="upvote-btn-hidden">
                <div class="upvote-confirm">
                    <div class="card-header bg-dark center">
                        <h5>Add to Cart?</h5>
                    </div>
                    <p><b>You have upvoted this feature before. Are you sure you would like to add this to the cart
                            again?</b></p>
                    <button type='submit' class='btn btn-primary'>Yes</button>
                    <div id='upvote-no' class='btn btn-primary'>No</div>
                </div>
            </div>

            {% else %}
            <button type='submit' class='btn btn-primary'>Upvote <i class="fa fa-star" aria-hidden="true"></i></button>

            {% endif %}

        </form>
        {% else %}
        <button class='btn btn-primary'><b>In Cart</b></button>
        {% endif %}
        {% else %}
        <div class='btn btn-secondary'><i class="fa fa-star" aria-hidden="true"></i>Upvote <i class="fa fa-star"
                aria-hidden="true"></i></div>
        {% endif %}
        <br>
        <p class='inline views text-shadow'><b>Views:</b> {{items.views}} </p>
        <p class='inline upvotes text-shadow'><b>Upvotes:</b> {{items.upvotes}}</p>
        <br>
        <p class=' inline text-shadow'><b>Status:</b></p>
        {% if items.status == 'Waiting' %}
        <p class='inline status-todo'>{{ items.status }}</p>
        {% elif items.status == 'In Progress' %}
        <p class='inline status-doing'>{{ items.status }}</p>
        {% elif items.status == 'Completed' %}
        <p class='inline status-done'>{{ items.status }}</p>
        {% endif %}
    </div>
    <div class='center comments'>
        <div class="ticket-description inline">
            <div>
                <img class='comment-profile-pic' src="{{MEDIA_URL}}{{items.picture}}" onerror="src='{{MEDIA_URL}}images/missing-profile-pic.png'"
                    alt="profile pic">

            </div>
            <div>
                <p class="creator-and-date inline"><b>{{items.username}}</b> {{items.created_date}}</p>
                {% if user.is_active and items.username == user %}
                <p class='inline active'> Online </p>
                {% endif %}
                <p class='description'>{{items.description}}</p>

            </div>
        </div>
    </div>

    <div class="comments ">
        <div>
            <form method="post" class="center" action="{% url 'add_comment_features' items.id %}">
                {% csrf_token %}
                <div id="div_id_comment" class="form-group  ">
                    <label for="id_comment" class="text-shadow control-label required-field ">
                        <b>Comments</b>
                    </label>
                    <div class="">
                        <textarea name="comment" cols="5" rows="4" class=" form-control" required="" id="id_comment"></textarea>
                    </div>
                </div>
                {% if user.is_authenticated %}
                <button class="btn btn-primary inline" type="submit">Post</button>
                {% else %}
                <div class="btn btn-secondary inline">Post</div>
                {% endif %}
            </form>
        </div>

        {% for comment in comments %}
        <div class="user-comment inline">
            <div>
                <img class='comment-profile-pic' src="{{MEDIA_URL}}{{comment.picture}}" onerror="src='{{MEDIA_URL}}images/missing-profile-pic.png'"
                    alt="profile pic">

            </div>
            <div>
                <p class="creator-and-date inline"><b>{{comment.username}}</b> {{comment.created_date}}</p>
                {% if user.is_active and comment.username == user %}
                <p class='inline active'> Online </p>
                {% endif %}
                <p class='description'>{{comment.comment}}</p>

            </div>
        </div>
        {% endfor %}
    </div>
</div>
<div class="block"></div>
{% include 'footer.html' %}
{% endblock %}}