{% extends 'base.html' %}
{% load bootstrap_tags %}
{% block content%}
<div class="overlay-black"></div>
<div class="container margin-top-100 center">
    <div class="col-sm-6 offset-sm-3 login-form">
        <h1>Login</h1>
        <form method="post">
            {% csrf_token %}
            {{ login_form | as_bootstrap}}
            <button class="btn btn-primary" type='submit'>Login</button>
        </form>
        <p>Forgot your password? <a href="{% url 'password_reset' %}">Reset Here</a></p>
        <div class="messages-status-error">

            {% if messages %}
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
            {% endif %}
        </div>

    </div>
</div>
{% endblock %}