{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}
{% block content %}




<div class="wrapper margin-top-100">
    {% for item in cart_items %}
    <div class="inner">
        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">{{ item.ticket.name }}</div>
            <div class="card-body">
                <p class="card-text">{{ item.ticket.description | truncatechars:60 }}</p>
            </div>


            <!--The button for this form is in the form above. This input is hidden with a value of 0 to delete the product-->
            <form id="form1" method="post" action="">
                {% csrf_token %}
                <button type="submit" class="btn btn primary">
                    <i class="fa fa-pencil" aria-hidden="true"></i>Amend
                </button>
                <input name='quantity' type="hidden" value="0">
            </form>
        </div>

    </div>
    {% endfor %}
    <div class="inner">
        <div class="card bg-light mb-3" style="max-width: 100%;">
            <div class="card-header">Summary</div>
            <div class="card-body">
                <table>
                    <tr>
                        <th style="width: 33%">Quantity</th>
                        <th style="width: 33%">Item</th>
                        <th style="width: 33%">Price</th>
                    </tr>
                    {% for item in cart_items %}
                    <tr>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.ticket.name }}</td>
                        <td><i class="fa fa-eur"></i>{{item.price}}</td>
                    </tr>

                    {% endfor %}
                </table>
                <hr>
                <p class="card-text"><i class="fa fa-eur"></i>{{ total }}</p>
            </div>
            <div class="form-group">
                <a href="" class="btn btn-success" role="button"><span class="glyphicon glyphicon-ok-sign"></span>Checkout</a>
            </div>
        </div>

    </div>
</div>


{% endblock %}