{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Unicorn Attractor</title>

    <link rel="stylesheet" href=" {% static 'font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href=" {% static 'bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href=" {% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Archivo+Black" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=BenchNine" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">


</head>

<body>
    <div class="overlay-black"></div>
    <div class="main-outer">
        <header>
            <a class="logo " href="/">
                <h4 class='inline'>Unicorn Attractor</h4>
            </a>
            <i id="menu-bars" class="fa fa-bars d-block d-sm-none" aria-hidden="true"></i>
            <nav id="collapse">

                <ul class="">
                    <li><a href="/"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
                    <li><a href="{% url 'bugs' %}"><i class="fa fa-bug" aria-hidden="true"></i> Bugs</a></li>
                    <li><a href="{% url 'features' %}">Features</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'view_cart' %}"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Cart</a>
                        {% if ticket_count > 0 %}
                        <label for="" class="badge badge-light">{{ ticket_count }}</label>
                        {% endif %}

                    </li>
                    <li><a href="{% url 'profile' %}"><i class="fa fa-user" aria-hidden="true"></i> Profile</a></li>
                    <li><a href="{% url 'logout' %}"><i class="fa fa-sign-out" aria-hidden="true"></i> Log out</a></li>
                    {% if user|slugify == 'admin' %}
                    <li><a href="/admin">Admin</a></li>
                    {% endif %}
                    {% else %}

                    <li><a href="{% url 'login' %}"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</a></li>
                    <li><a href="{% url 'registration' %}">Register</a></li>
                    {% endif %}

                </ul>
            </nav>
        </header>
        <div class='message-success'>

            {% block messages %}
            {% endblock %}
        </div>
        <div class="main-inner">

            {% block content %}
            {% endblock %}
        </div>

    </div>
    <script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'jquery/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'jquery/jquery-ui.js' %}"></script>
    <script src="{% static 'jquery/jquery.js' %}"></script>
    <script type="text/javascript" src="http://kozea.github.com/pygal.js/latest/pygal-tooltips.min.js"></script>
    {% block head_js %}
    {% endblock head_js %}
</body>

</html>