{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Unicorn Attractor</title>

    <link rel="stylesheet" href=" {% static 'font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href=" {% static 'bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href=" {% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Archivo+Black" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=BenchNine" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">


</head>

<body>
    <header>

        <a class="logo " href="#">
            <h4 class='inline'>Unicorn Attractor</h4>
        </a>
        <i id="menu-bars" class="fa fa-bars d-block d-sm-none" aria-hidden="true"></i>
        <nav id="collapse">

            <ul class="">
                <li><a href="/">Home</a></li>
                <li><a href="{% url 'bugs' %}">Bugs</a></li>
                <li><a href="{% url 'features' %}">Features</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'view_cart' %}">Cart</a></li>
                <li><a href="{% url 'profile' %}">Profile</a></li>
                <li><a href="{% url 'logout' %}">Log out</a></li>
                <li><a href="/admin">Admin</a></li>
                {% else %}

                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'registration' %}">Register</a></li>
                {% endif %}

            </ul>
        </nav>
    </header>
    {% block messages %}
    {% endblock %}

    {% block content %}
    {% endblock %}


    <script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'jquery/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'jquery/jquery-ui.js' %}"></script>
    <script src="{% static 'jquery/jquery.js' %}"></script>
</body>

</html>