<div class="icon-container">
    <ul>
        <li>
            <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook-f"></i></a>
        </li>
        <li>
            <a href="https://www.instagram.com/accounts/login/?hl=en" target="_blank"><i class="fa fa-instagram"></i></a>
        </li>
        <li>
            <a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
        </li>
        <li>
            <a href="https://github.com/brettcutt/issue-tracker" target="_blank"><i class="fa fa-github"></i></a>
        </li>

    </ul>
    <br class='d-none'>
    <p>Unicorn Attractor | by Brett Cutting</p>
</div>
<div class="circle"></div>